<h2>your enquiries:</h2>

<% @things.each do |t| %>

  <% if t.user != @current_user %>
    <% if t.messages.first.present? && t.messages.first.sender == @current_user %>
      <%= link_to " #{t.act} - #{t.name} - #{t.user.name}", message_path(t.messages.first.id)%> <br>
      <% else %>
    <% end %>
  <% end %>

<% end %>
