<h2>messages for <%= @current_user.name %></h2>
<br><br>
<h3>to:</h3>
<br>
<% @messages.where(sender_id: @current_user.id).each do |m| %>
  <%= link_to "#{m.recipient.name} - #{m.thing.name}", message_path(m.id) %> <br>
<% end %>
<br>
<br><br><br>
<br>

<h3>from:</h3>
<br>
<% @messages.where(recipient_id: @current_user.id).each do |m| %>
  <%= link_to "#{m.sender.name} - #{m.thing.name}", message_path(m.id) %> <br>
<% end %>
<br>

<%# change this to "CONVERSATIONS WITH?" %>
