<h2>conversation regarding <%= @message.thing.name %></h2>
<br><br><br>

<% @thread.each do |m| %>
  <h5><%= m.sender.name %>:</h5>
  <!-- if current user = sender diferent colour?? -->
  <div id="conversationMessage">
  <p><%= m.message %></p>
  </div>
  <br>
<% end %>

<%= render partial: 'reply' %>
