
<div id="listings">
<div id="listingNeeds">
<h3>people in need</h3>
<h4>tasks</h4>
<ul>
  <% @things.each do |t| %>
    <% if t.user != @current_user && t.act == 'need' && t.thing_type == 'task'%>
    <li>
      <%= link_to "#{t.name} - #{t.user.name}", thing_path(t.id) %>
    </li>
    <% end %>
  <% end %>
</ul>
<h4>items</h4>
<ul>
  <% @things.each do |t| %>
    <% if t.user != @current_user && t.act == 'need' && t.thing_type == 'item' %>
    <li>
      <%= link_to "#{t.name} - #{t.user.name}", thing_path(t.id) %>
    </li>
    <% end %>
  <% end %>
</ul>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttext</h2>
<h2>addtesttextfinal</h2>
</div>
<div id="listingOffers">
<h3>on offer</h3>
<h4>items</h4>
<ul>
  <% @things.each do |t| %>
    <% if t.user != @current_user && t.act == 'offer' && t.thing_type == 'task' %>
    <li>
      <%= link_to "#{t.name} - #{t.user.name}", thing_path(t.id) %>
    </li>
    <% end %>
  <% end %>
</ul>
<h4>tasks</h4>
<ul>
  <% @things.each do |t| %>
    <% if t.user != @current_user && t.act == 'offer' && t.thing_type == 'item' %>
    <li>
      <%= link_to "#{t.name} - #{t.user.name}", thing_path(t.id) %>
    </li>
    <% end %>
  <% end %>
</ul>
</div>
</div>
