<h2>cool maps of things</h2>
<style>
  #map {
    height: 50vh;
    width: 50vw;
  }
</style>
<div id="map">

</div>
<script>

  const things = <%= @things.to_json.html_safe %>;

  function initMap() {
    // var myLatLng = {lat: -25.363, lng: 131.044};

    var bounds = new google.maps.LatLngBounds();

    var map = new google.maps.Map(document.getElementById('map'), {
      // zoom: 11,
      // center: { lat: things[0].latitude, lng: things[0].longitude }
    });

    for(let i = 0; i < things.length; i++){

      const thing = things[i]; // get the current item

      var marker = new google.maps.Marker({
        position: { lat: thing.latitude, lng: thing.longitude },
        map: map,
        title: thing.name
      });

      // add the lastest marker to the bounding box
      bounds.extend( marker.position );
    } //loop

  map.fitBounds( bounds ); // make the map fit within the box containing markers
  }
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpm-zfcLSARGSw5GVWvUbPpgxSU-so6ts&callback=initMap">
</script>
