<h2>in need.</h2>
<div class="containNewThing">
<%= link_to '/need/item' do %>
<div class="newThing" id="needItem">an item?</div>
<% end %>
<%= link_to '/need/task' do %>
<div class="newThing" id="needTask">a task?</div>
<% end %>
</div>
