<h2>create listing</h2>
<div class="containNewThing">
<%= link_to '/need' do %>
<div class="newThing" id="newNeed">in need?</div>
<% end %>
<%= link_to '/offer' do %>
<div class="newThing" id="newOffer">an offer.</div>
<% end %>
</div>
