<h2>an offer.</h2>
<div class="containNewThing">

<%= link_to '/offer/item' do %>
<div class="newThing" id="offerItem">an item?</div>
<% end %>

<%= link_to '/offer/task' do %>
<div class="newThing" id="offerItem">a task?</div>
<% end %>
</div>
