form {
  display: grid;
  grid-template-columns: 200px 1fr;
  padding:10px;
}

input, textarea {
  margin: 10px;
}

label {
  margin:10px;
  text-align: right;
}

#create_post {
  background-color: #87A387;
}
