div {
/* border: 1px solid grey; */
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}


#yield {
  text-align: center;
}

#footer {
}

html, body {
  font-family: monospace;
  background-color: #dddddd;
  color: #222222;
}

a {
  color: #222222;
  text-decoration: none;
}

img {
  max-width: 300px;
}

li {
  list-style: none;
  list-style-position: outside;
}

ul {
  padding: 0;
}

img {
  border-radius: 10px;
  box-shadow: 0 0 0 2px pink;
}

#conversationMessage {
  border: 1px solid #D4D6E2;
  background-color: #D4D6E2;
  color: black;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
}
