.newThing {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#87A387;
  margin:10px;
  border-radius: 50%;
}

.containNewThing {
  display:flex;
}

#listings {
  /* display: flex; */
  top: 10%;
  width: 450px;
  overflow: scroll;
  position:absolute;
}

.userListing {
  width: 200px;
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:#87A387;
  border-radius: 10% 10% 10% 10% / 10% 10% 10% 10% ;
}

#individualListing {
  display: flex;
  width: 100%;
  height: 100px;
  padding: 5px;
  margin-bottom:10px;
  background-color:#87A387;
  border-radius: 0% 0% 5% 5% / 0% 0% 20% 20%
}

#individualListingImage{
  /* height: 100% */
  width:50%;
}
#individualListingText{
  /* height: 100% */
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#individualListing img{
  height: 100%;
}

#thingShow {
  top: 5%;
  position: absolute;
}

#thingShow form label {
  text-align: center;
}

#thingShowInformation{
  display:flex;
  width: 70vw;
  height: 50vh;
}

#thingShowInformationText {
  width:40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  flex-direction: column;
}

#thingMessageForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

#thingMap {
  display: flex;
  justify-content: center;
  align-items: center;
}

#thingButtons {
  display:flex;
  justify-content: center;
  align-items: center;
}

#listingMessage {
  padding: 10px;
  display:flex;
  border: 1px solid #D4D6E2;
  background-color: #D4D6E2;
  color: black;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: left;
}

#myListingMessages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
