.newThing {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#87A387;
  margin:10px;
  border-radius: 50%;
}

.containNewThing {
  display:flex;
}

#listings {
  display: flex;
  top: 30%;
  overflow: scroll;
  position:absolute;
}

.userListing {
  width: 200px;
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:#87A387;
  border-radius: 10% 10% 10% 10% / 10% 10% 10% 10% ;
}
